/* Global styling */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Mukta', sans-serif;
  overflow-x: hidden;
  height: 100vh;
}

a{
  text-decoration: none;
  color: black;
}

:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

button, a{
  cursor: pointer;
}

textarea { resize: none; }

input, button, select, textarea{
  border: none;
  outline: none;
  font-family: 'Mukta', sans-serif;
}

.light{
  opacity: 0.7;
  margin-top: 10px;
  font-size: 14px;
  margin-left: 10px;
}

#error{
  margin: 15px auto;
  text-align: center;
  color: red;
  font-size: 14px;
}